<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>hui</title>
</head>
<body>

<a href="{{ path('index') }}">Главная</a>
{{ form(form) }}
<br>
{% if result %}
    <p>Хуй</p>
{% else %}
    <p>Кросаучык</p>
{% endif %}
</body>
</html>