<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>hui</title>
</head>
<body>

<a href="{{ path('index') }}">Главная</a>
<a href="{{ path('search') }}">Поиск</a>
</body>
<br><p>Спасибо, что создали таск с названием: {{ task.task }}</p>
</body>
</html>